			body{

				background-color: silver;

}
			#givehere{

				background-color: blue;
				color: white;
				border:none;

}
			#mainbutton{

				background-color: white;
				border: none;
	
}
			#events{

				border: none;
				background-color: white;

}
			#newhere{

				border: none;
				background-color: white;
	
}
			#contact{

				border: none;
				background-color: white;

}
			#kids{

				border: none;
				background-color: white;

				
}
			#youth{

				border: none;
				background-color: white;

}
			#smallgroups{

				border: none;
				background-color: white;
				
}
			#moments{

				border: none;
				background-color: white;

}

			#top{
			
				background-color: white;
				
}
			#socialmedia{

				background-color: white;

}
			#Current{

				background-color: white;

}
			#Past{

				background-color: white;

}
